<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feedback Email</title>
  <%- include("../../../public/admin/css/verify_email.css") %>
</head>
<body>
    <p>Feedback Content</p>
</body>
</html>