<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Forgot Password OTP</title>
  <%- include("../../../public/admin/css/verify_email.css") %>
</head>

<body class="body-content">
  <div class="div1">
    <div class="div2">
      <div>
        <h4>Hello <%= name %>!</h4>
        <p class="p1"> Choose this otp to reset password.</p>
        <a href="<%= url %>" class="verify-email"><%= otp %></a>
      </div>
    </div>
  </div>
</body>

</html>